/* Temel düğme stili */
.animated-button {
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

/* Fare imleci düğme üzerine geldiğinde */
.animated-button:hover {
    background-color: #2980b9;
}

/* Düğmeye tıklandığında */
.animated-button:active {
    background-color: #1c6a8c;
}
