/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-size: 62.5%;
}

html, body {
  height: 100%;
  width: 100%;
}

body{
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
    /* font-family: 'Inter', sans-serif; */
  font-family: 'Poppins', sans-serif;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
a{
  all: unset;
}

.main{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bcard{
  width: 31.7rem;
  margin: 1rem;
}

/* Header Styles */

.bcard__profile-img{
  width: 31.7rem;
  height: 31.7rem;
  border-radius: 10px 10px 0px 0px;
}
/* Body Styles */
.bcard__body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5); /* Arkaplan rengi, opacity eklenmiş */
  z-index: -1; /* Bu öğenin metin ve içeriklerin altında olmasını sağlar */
}

.bcard__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  position: relative; /* ::before öğesi için pozisyonu belirtin */
}
.bcard__heading-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.6rem;
}

.bcard__heading-wrapper * + * {
  margin-top: 0.5em;
}

.bcard__name {
  color: #000000;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 30px;
}

.bcard__title{
  color: hsl(109, 77%, 52%);
  font-weight: 400;
  font-size: 1.28rem;
}

.email-link{
  display: inline-block;
}
.linkedin-link{
  display: inline-block;
}

.bcard__btn-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.bcard__btn-wrapper {}
.bcard__btn{
  min-width: 11.5rem;
  height: 3.4rem;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.05);
  
}
.bcard__btn-icon{
  margin-right: 1rem;
  font-size: 1.4rem;
}

.bcard__btn--email{
  
  border: 1px solid #000000;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff0000; /* İlk arkaplan rengi */
  color: white;
  border: none;
  cursor: pointer;
  object-fit: cover;
  object-position: top right;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  
}

.bcard__btn--email:hover{
  transform: scale(0.9);
}

.email-link:hover .bcard__btn--email{
  background-color: #ee6969; /* İkinci arkaplan rengi */
  animation: buton-sallanma 0.3s ease-in-out;
}



.bcard__btn--linkedin{
  padding: 10px 20px;
  font-size: 16px;
  background: blue;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  object-fit: cover;
  object-position: top right;
  display: inline-block;
  transition: transform 0.3s;
}
.bcard__btn--linkedin:hover{
  transform: scale(0.9);
}
.bcard__text-wrapper{
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
}

.bcard__text-wrapper * + * {
  margin-top: 1em;
}

.bcard__heading{
  color: #f5f5f5;
  font-size: 1.6rem;
}

.bcard__text1{
  color: #000000;
  font-size: 1.18rem;
}
.bcard__text2{
  color: aqua;
}

.bcard__text3{
  color: grey;
}

/* Footer Styles */

.bcard__footer {
  height: 6.5rem;
  background-color: #ffffff;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 0px 10px 10px;
}

.bcard__footer-icon {
  font-size: 2.7rem;
  padding: 0.2em;
  background-color: #918E9B;
  margin-right: 2.4rem;
  border-radius: 5px;
  cursor: pointer;
}

.bcard__footer-icon:last-of-type{
  margin-right: 0;
}

@media (max-height:750px){
  .main {
    height: auto;
  }
}
 